// @import '~materialize-css/sass/materialize.scss';
@import 'variables';

html,
body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    height: 90vh;
    margin: 0;
}

.nav-menu {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 1;
}

.sidenav {
    .active {
        background-color: rgba($color: #000000, $alpha: 0.05)
    }
}

.nav-icon {
    background-color: lightgray;
    padding: 0.8rem 0.8rem 0.5rem 0.8rem;
    border-radius: 50%;
    color: black;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
	font-size: 84px;
	color: black;
}

.pirate-font {
    font-family: 'PiecesOfEight';
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.parallax {
    /* The image used */
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95)),
        url('../images/logos/hacked-movies.png');

    /* Full height */
    // height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}